@model CreateRoleViewModel

@{
    ViewData["Title"] = "Gestion roles: Crear nuevo rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Nuevo Rol</h2>

<form asp-action="CreateRole" method="post">
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
