@model LiderSocial

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Crear Líder Social</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert" style="display:none;"></div>
                <input type="hidden" asp-for="LiderSocialId" />

                <div class="col">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Nombre" class="form-label fw-bold">Nombre</label>
                            <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre completo del líder" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="BarrioId" class="form-label fw-bold">Barrio</label>
                            <select asp-for="BarrioId" class="form-select" asp-items="ViewBag.BarrioId">
                                <option value="">Seleccione un barrio</option>
                            </select>
                            <span asp-validation-for="BarrioId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="CiudadId" class="form-label fw-bold">Ciudad</label>
                            <select asp-for="CiudadId" class="form-select" asp-items="ViewBag.CiudadId">
                                <option value="">Seleccione una ciudad</option>
                            </select>
                            <span asp-validation-for="CiudadId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save me-2"></i>Guardar
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left me-2"></i>Volver a la lista
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
